/*!----------------------------------
* common
**----------------------------------*/

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary, dialog, menu {
	display: block;
}

/*间距*/
.mg-left-10 {
	margin-left: 10px;
}
.mg-top-10 {
	margin-top: 10px;
}
.mg-right-10 {
	margin-right: 10px;
}
.mg-bottom-10 {
	margin-bottom: 10px;
}
.mg-left-20 {
	margin-left: 20px;
}
.mg-top-20 {
	margin-top: 20px;
}
.mg-right-20 {
	margin-right: 20px;
}
.mg-bottom-20 {
	margin-bottom: 20px;
}
.inner {
	margin: 0 auto;
	max-width: 1200px;
}

.list-box-line{ border-bottom: 1px #e5e5e5 solid; }

/*comment*/
.comment-box {
	margin-bottom: 10px;
}
.comment-title {
	margin-bottom: 5px;
	font-weight: bold;
}
.comment-textarea {
	width: 100%;
	height: 42px;
	line-height: 21px;
	padding: 2px;
	resize: vertical;
	margin-bottom: 5px;
}
.add-comment {
	margin: 5px 5px auto 5px;
}
.nextlog a {
	color: #000000;
}
.nextlog a:hover {
	color: #BA2626;
}

/* tag */
/*隐藏滚动条*/
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.tag-show {
	height: 3.2rem;
	line-height: 3.2rem;
	border-top: 1px #e5e5e5 solid;
	border-bottom: 1px #e5e5e5 solid;
	background: #f4f5f6;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    /* Sets up points to which scrolling
       will snap along x-axis */
    scroll-snap-points-x: repeat(100%);
    /* Requires that scrolling always end at a snap point when
       the operation completes (hard snap) */
    scroll-snap-type: mandatory;
}
.tag-show a {
	color: #505050;
	margin-right: 1rem;
}

/* search */
.search-box {
	padding: 6px;
	position: relative;
}
.search-input[type="text"] {
	background-color: #FBFBFB;
	border: 1px solid #999999;
	border-radius: 2px 0 0 2px;
	height: 19px;
	line-height: 19px;
	padding: 4px 0px 4px 2px;
	width: 100%;
}
.search-btn {
	background-color: #4D90FE;
	border: 1px solid #4D90FE;
	border-radius: 0 2px 2px 0;
	color: #F3F7FC;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	height: 29px;
	position: absolute;
	top: 6px;
	right: 3px;
	vertical-align: middle;
	width: 50px;
}

/* article-list */
.article-list .list-title {
	font-family: "Microsoft Yahei";
	font-size: 1.8rem;
	color: #3376c3;
	padding: 3px 0;
	line-height: 160%;
}
.article-list .list-title a {
	color: #222;
}
.article-list .list-title a:hover {
	color: #e01222;
	text-decoration: none;
}
.article-list .list-title h2 {
	line-height: 20px;
	font-size: 20px;
}
.article-list .info {
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	padding: 2px 6px 2px 0;
	color: #6A728A;
}
.article-list .line {
	background: none;
	color: #6A728A;
	padding: 0 0 0 4px;
}
.article-list .info-time {
}
.article-list .info-author {
}
.article-list .info-cate {
}
.article-list .info-view {
}
.article-list .list-text {
	margin: 10px 0;
	line-height: 160%;
	font-size: 1.4rem;
}

/*文字加载样式*/
 .pageLoading{
	text-align: center;
	font-size: 18px;
 	margin-top: 10px;
	 visibility:hidden;
  }