/*!----------------------------------
* layout
**----------------------------------*/
html {
	font-size: 62.5%;
}
.wrap {
	font-size: 1.6 rem;
}
.main-body {
	max-width: 1200px;
	_width: 1200px;
	margin: 0 auto;
	text-align: left;
	zoom: 1
}
.main-body:before, .inner:after {
	display: table;
	content: ""
}
.main-body:after {
	clear: both
}
.innerContent {
	height: 100%;
}
@media screen and (min-width:1201px) {
}
@media screen and (min-width:961px) and (max-width:1200px) {
}
@media screen and (min-width:781px) and (max-width:960px) {
	.nav-main .logo {
		display: none;
	}
}
@media screen and (max-width:780px) {
	.innerContent {
		padding:10px;
		height: 100%;
	}
	.header .nav-main li a {
		padding: 0px 5px;
	}
	.nav-main .logo {
		display: none;
	}
	.show-name {
		display: none;
	}
	.shortcut-login {
		display: none;
	}
	.nav-main {
		display: none;
	}
	.m-nav {
		display: block;
	}
}