/*!----------------------------------
* layout
**----------------------------------*/
.wrap { position: relative;  width: 100%; height: auto; min-height: 100%;}
.main-body { width: 1200px; _width: 1200px; margin: 0 auto; text-align: left;  padding: 1rem 2rem 170px 2rem; zoom: 1 }
.main-body:before, .inner:after { display: table; content: "" }
.main-body:after { clear: both }
.inner { margin: 0 auto; max-width: 1200px; }
.mainContent { width: 100%; margin-left: -260px; float: left; }
.innerContent { margin-left: 260px; height: 100%; }
.sideBar { float: right; width: 250px; }
@media screen and (min-width:961px) and (max-width:1020px) { }
@media screen and (min-width:781px) and (max-width:960px) {
	.nav-main .logo { display: none; }
}
@media screen and (max-width:780px) {
	.mainContent { width: 100%; float: none; }
	.innerContent { width: 100%; height: 100%; }
	.sideBar { float: none; width: 100%; }
	.require .sideBar { width: 100%; }
	.header .nav-main li a { padding: 0px 5px; }
	.nav-main .logo { display: none; }
	.website li { float: left; width: 30%; margin-right: 10px; }
	.show-name { display: none; }
	.shortcut-login { display: none; }
	.nav-main { display: none; }
	.m-nav { display: block; }
}