/* !----------------------------------
* acticle
**---------------------------------- */
.article { }
.article-title { margin-bottom: 10px; }
.article-title, .article-title a { font: bold 22px "Microsoft YaHei"; color: #333; }
.article-content { padding: 10px 0; font-size: 20px; font-size: 2rem; color: #333332; line-height: 180%; }
.article-content ol { margin-left: 40px; list-style-type: decimal }
.article-content li { display: list-item }
.article .info { font-size: 12px; line-height: 20px; height: 20px; padding: 2px 6px 2px 2px; color: #6A728A; }
.article .line { background: none; color: #6A728A; padding: 0 0 0 4px; }
.article .info-time { }
.article .info-author { }
.article .info-cate { }
.article .info-view { }
.article .nextlog a { color: #000000; }
.article .nextlog a:hover { color: #BA2626; }

/* detai */
.detail { background: #f9f9f9; }
.toReply { margin-left: 143px; }
.replyBox { margin-left: 143px; }
.replyBox textarea { width: 484px }
.ding, .cai { padding-top: 10px; text-decoration: none; }

/*相关文章样式*/
.relationList li{
    display: block;
    float: left;
    width: 25%;
    height: 200px;
}
.relationList span{
    display: block;
    border: 1px #d2d2d2 solid;
    margin: 10px;
    height: 100%;
}
.relationList a{
    display: block;
    padding: 10px;
}