/* !----------------------------------
* acticle
**---------------------------------- */
.article { }
.article-title { margin-bottom: 10px; }
.article-title, .article-title a { font: bold 22px "Microsoft YaHei"; color: #333; }
.article-content { padding: 10px 0px; font-size: 20px; font-size: 2rem; color: #333332; line-height: 180%; }
.article-content ol { margin-left: 40px; list-style-type: decimal }
.article-content li { display: list-item }
.info { font-size: 12px; line-height: 20px; height: 20px; padding: 2px 6px 2px 2px; margin-left: 10px; color: #6A728A; }
.line { background: none; color: #6A728A; padding: 0 0px 0 4px; }
.info-time { }
.info-author { }
.info-cate { }
.info-view { }
.go-back { margin-bottom: 10px; text-align: right; padding-right: 28px; }
.go-back a:link { color: #333; text-decoration: none; }
.go-back a:hover { color: #BA2626; }
.nextlog a { color: #000000; }
.nextlog a:hover { color: #BA2626; }

/* detai */
.detail { background: #f9f9f9; }
.toReply { margin-left: 143px; }
.replyBox { margin-left: 143px; }
.replyBox textarea { width: 484px }
.ding, .cai { padding-top: 10px; text-decoration: none; }