/*!----------------------------------
* user
**----------------------------------*/
.register {
	padding-top: 50px;
}

.register .two-column-layout .column{
	width: 38%;
}

.two-column-layout{ 
	margin-top: 50px; 
}

.register .two-column-layout .column-right{
	width: 60%;
}
.register .lhz-form .form-item .form-label{
	width: 6em;
}

.register .lhz-form .form-action { 
	padding-left: 6em; 
}

.register .lhz-form .form-item input{
	width: 300px;
	height: 30px;
}
.register-form {
	margin-top: 60px;
} 

