/* !----------------------------------
* require
**---------------------------------- */
/*require-index*/
.require .mainContent{ margin-left: -410px;}
.require .sideBar{ width: 400px;}
.require .mainContent .innerContent{ margin-left: 410px;}

/*require-detail*/


